.first-div {
    background-color: green;
    border: 3px solid red;
    width: 200px;
    height: 200px;

    padding: 10px 15px 20px 5px;
    
    margin: 5px 10px 5px 10px;

    /*css box model aris modeli romelic zrunavs dizainze yvela elementze */
    /*css box modelshi shedis conttent margin padding border */
}

.second-div{
    background-color: green;
    border: 3px solid red;
    width: 200px;
    height: 200px;

    padding: 10px 15px 20px 5px;
    
    margin: 5px 10px 5px 10px;

    /*content aris shigtavsi */
    /*pading aris shigtavsis da zgvaris dashoreba */
    /*margin aris elementebs shoris dashoreba */
    /*border aris elementis zgvari*/
}

.parent{
    background-color: red;
    border: 3px solid green;
    width: 500px;
    height: 500px;
    margin: 5px 10px 5px 10px;

    display: flex;
    flex-direction: row-reverse;

}

.div-1{
    background-color: black;
    border: 3px solid green;
    width: 100px;
    height: 100px;
    margin: 5px 10px 5px 10px;
    flex-direction: column ;
}

.div-2{
    background-color: black;
    border: 3px solid green;
    width: 100px;
    height: 100px;
    margin: 5px 10px 5px 10px;
    flex-direction: column;
}

.div-3{
    background-color: black;
    border: 3px solid green;
    width: 100px;
    height: 100px;
    margin: 5px 10px 5px 10px;
    flex-direction: column;
}