.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    