body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-wrap: wrap;  
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(252, 12, 12);
    font-size: 15px;
    border-radius: 7px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
}