h2 {
    color: blueviolet; 
}

 p {
    color: aqua;
}

#unique {
    color: chartreuse;
}

.m-p {
    color: gold;text-align: center;font-size: xx-large;
}

.my {
    color: aquamarine; font-size: xx-large;
}