* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.parent {
    position: relative;
    background-color:whitesmoke;

}


img {
    width: 70px;
}

.red-circle {
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 55px;
    left: 45px;
}